/*this is css for report generation*/

html{
    font-family: Arial, Helvetica, sans-serif;
    font-size:14px;
}

.text-center{
    text-align:center;
}

.text-right{
    text-align:right;
}

.text-left{
    text-align:left;
}

.text-bold{
    font-weight:bold;
}

.form-title{
    text-align:center;
    font-size:16px;
    font-weight:bold;
}

.aTable table {
    border-collapse: collapse;
}

.aTable table, .aTable th, .aTable td {
    border: 1px solid black;
}

.aTable table, .aTable th {
    padding: 15px;
}

.aTable td {
    padding:2px
}

.align-bottom{
    vertical-align:bottom;
}

.align-top{
    vertical-align:top;
}

.float-left{
    float:left;
}

.clear{
    clear:both
}

.title-header-wrap{
    border:1px solid;
    background-color:#ccc;
    text-align:center;
    font-size:18px;
}

.smaller{
    font-size:14px;
}

.form-title-center{
    margin: 0;
    /*background: yellow;*/
    position: absolute;
    top: 90px;
    left: 200px;
    margin-right: -50%;
    font-size:18px;
    font-weight:bold;
}

.form-title-center2{
    margin: 0;
    /*background: yellow;*/
    position: absolute;
    top: 90px;
    left: 250px;
    margin-right: -50%;
    font-size:18px;
    font-weight:bold;
    font-size:28px;
}

.centerHeaderForm{
    text-align:center;
    font-weight:bold;
}

.leftMargin{
    margin-left:60px
}

.solid{
    border:1px solid #000;
}

.solid2{
    border:2px solid #000;
}

.sectionWrap{
    margin:20px 0px;
}

.innerText{
    border:1px solid #000;
    padding:5px;
}

hr.style-eight {
    padding: 0;
    border: none;
    border-top: medium double #333;
    color: #333;
    text-align: center;
}
hr.style-eight:after {
    display: inline-block;
    position: relative;
    top: -0.7em;
    font-size: 1.5em;
    padding: 0 0.25em;
    background: white;
}

.square {
	width: 70px;
	height: 100px;
	border:2px solid #000;
}

.border1{
    border:1px solid #000;
}

.border2{
    border:1px solid #000;
    border-left:none;
}

.padding1 {
    padding:6px;
}

.padding-top3{
    padding-top:3px;
}

.padding2 {
    padding:3px;
}

.borderBottom1{
    border-right:1px solid #000;border-bottom:1px solid #000;
}

.borderBottom2{
    border-bottom:1px solid #000;
}

.avoid {
    page-break-inside: avoid !important;
    margin: 4px 0 4px 0;  /* to keep the page break from cutting too close to the text in the div */
}

.titleSize {
	font-size:18px;
}

.text-underline{
	text-decoration:underline;
}

#data {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}
#data th {
    border: 1px solid
}

#data th {
  padding: 5px;
  text-align: center
}

#data td {
  padding: 5px;
  text-align: left;
}
#data thead {
  /*color: #fdfdfd;*/
}
#data thead tr {
  display: block;
  position: relative;
}

